{% extends 'core/base.html' %}

{% block title %}
Nuevo proveedor | SistemaBar
{% endblock %}

{% block content %}

<div class="dashboard-header">

    <h2>Nuevo proveedor</h2>
    <p>Registrar un nuevo proveedor</p>

</div>


<div class="formulario-contenedor">

    <form method="POST">

        {% csrf_token %}

        {{ formulario.as_p }}

        <div class="formulario-acciones">

            <button type="submit" class="btn-guardar">
                Guardar proveedor
            </button>

            <a href="{% url 'lista_proveedores' %}"
               class="btn-cancelar">
                Cancelar
            </a>

        </div>

    </form>

</div>

{% endblock %}