{% extends 'core/base.html' %}

{% block title %}
Eliminar producto | SistemaBar
{% endblock %}

{% block content %}

<div class="confirmacion-contenedor">

    <h2>Eliminar producto de la compra</h2>

    <p>
        ¿Estás seguro de que deseas eliminar
        <strong>{{ detalle.producto.nombre }}</strong>
        de la compra?
    </p>

    <p>
        Cantidad:
        <strong>{{ detalle.cantidad }}</strong>
    </p>

    <form method="POST">

        {% csrf_token %}

        <div class="formulario-acciones">

            <button type="submit"
                    class="btn-desactivar">
                Sí, eliminar
            </button>

            <a href="{% url 'detalle_compra' compra.id %}"
               class="btn-cancelar">
                Cancelar
            </a>

        </div>

    </form>

</div>

{% endblock %}