{% extends 'core/base.html' %}

{% block title %}
Productos | SistemaBar
{% endblock %}

{% block content %}

<div class="dashboard-header encabezado-acciones">

    <div>
        <h2>Productos</h2>
        <p>Administración de productos del negocio</p>
    </div>

    <a href="{% url 'crear_producto' %}" class="btn-nuevo">
        + Nuevo producto
    </a>

</div>

    <table class="tabla-productos">

        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Presentación</th>
                <th>Categoría</th>
                <th>Costo</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Stock mínimo</th>
                <th>Estado</th>
            </tr>
        </thead>

        <tbody>

            {% for producto in productos %}

            <tr>
                <td>{{ producto.codigo|default:"-" }}</td>

                <td>
                    <strong>{{ producto.nombre }}</strong>
                </td>

                <td>{{ producto.presentacion|default:"-" }}</td>

                <td>{{ producto.categoria.nombre }}</td>

                <td>${{ producto.costo_compra|floatformat:2 }}</td>

                <td>${{ producto.precio|floatformat:2 }}</td>

                <td>{{ producto.stock }}</td>

                <td>{{ producto.stock_minimo }}</td>

                <td>
                    {% if producto.activo %}
                        Activo
                    {% else %}
                        Inactivo
                    {% endif %}
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="9">
                    No existen productos registrados.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}