{% extends 'core/base.html' %}

{% block title %}
Ventas | SistemaBar
{% endblock %}

{% block content %}

<div class="dashboard-header encabezado-acciones">

    <div>
        <h2>🛒 Ventas</h2>
        <p>Registro y administración de ventas</p>
    </div>

    <a href="{% url 'crear_venta' %}" class="btn-nuevo">
        + Nueva venta
    </a>

</div>


<div class="tabla-contenedor">

    <table class="tabla-productos">

        <thead>
            <tr>
                <th>N.º</th>
                <th>Fecha</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>

            {% for venta in ventas %}

            <tr>

                <td>#{{ venta.id }}</td>

                <td>
                    {{ venta.fecha|date:"d/m/Y H:i" }}
                </td>

                <td>

                    {% if venta.estado == "BORRADOR" %}

                        <span class="estado">
                            BORRADOR
                        </span>

                    {% elif venta.estado == "CONFIRMADA" %}

                        <span class="estado estado-activo">
                            CONFIRMADA
                        </span>

                    {% else %}

                        <span class="estado estado-inactivo">
                            ANULADA
                        </span>

                    {% endif %}

                </td>

                <td>
                    <a href="{% url 'detalle_venta' venta.id %}"
                       class="btn-editar">
                        👁 Ver
                    </a>
                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="4">
                    No existen ventas registradas.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}